*.swp
*~
*.iml
.*.haste_cache.*
.DS_Store
.idea
npm-debug.log
node_modules
dist
out
coverage
test/report.xml
Будет удалено .idea/
Будет удалено README.md
Будет удалено index.html
Будет удалено package.json
Будет удалено src/
Будет удалено style/
Будет удалено test/
Будет удалено webpack.config.js
